<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Sentiment Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Twitter Sentiment Analysis</h1>
        <form action="/" method="POST">
            <label for="search_query">Search query:</label>
            <input type="text" name="search_query" id="search_query" required>
            <input type="submit" value="Analyze">
        </form>
    </div>
</body>
</html>
